<template>
  <div class="col-7 col-lg-7 col-sm-11 user-account">
    <h3>
      <small class="text-muted">{{
        $t("account.myAccount", { myAccount: "My account" })
      }}</small>
    </h3>
    <b-alert
      v-if="error"
      :show="dismissCountDown"
      variant="danger"
      @dismissed="dismissCountDown = 0"
    >
      <p>Powers ranking was not updated. Please try again.</p>
    </b-alert>
    <b-alert
      v-else
      :show="dismissCountDown"
      variant="success"
      @dismissed="dismissCountDown = 0"
    >
      <p>Powers ranking was updated.</p>
    </b-alert>
    <b-form
      autocomplete="off"
      method="post"
      v-on:submit.prevent="editAccount"
      class="form-group"
    >
      <div class="form-group row">
        <label class="col-3 col-form-label fw-bold">
          <b-icon icon="person-fill"></b-icon>
          Pseudo
        </label>
        <div class="col-9">
          <p class="form-control">{{ user.pseudo }}</p>
        </div>
      </div>
      <div class="form-group row fw-bold">
        <label class="col-3 col-form-label">
          <b-icon icon="envelope"></b-icon>
          E-mail
        </label>
        <div class="col-9">
          <i class="fas fa-envelope-square"></i>
          <p class="form-control">{{ user.email }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="powersRanking" class="col-3 col-form-label fw-bold">
          <b-iconstack font-scale="1" rotate="90">
            <b-icon
              stacked
              icon="chevron-left"
              shift-h="-4"
              variant="danger"
            ></b-icon>
            <b-icon
              stacked
              icon="chevron-left"
              shift-h="0"
              variant="success"
            ></b-icon>
            <b-icon
              stacked
              icon="chevron-left"
              shift-h="4"
              variant="primary"
            ></b-icon>
          </b-iconstack>
          {{ $t("account.powersRanking", { powersRanking: "Powers ranking" }) }}
        </label>
        <div class="col-9">
          <table
            class="table table-striped"
            id="powersRanking"
            data-toggle="table"
          >
            <thead>
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr v-for="(power, index) in user.powersRanking" :key="power">
                <td class="fw-bold" :key="componentKey">
                  {{ user.powersRanking[index] }}
                </td>
                <td>
                  <b-button
                    pill
                    variant="success"
                    :disabled="index === 0"
                    @click="topItem(index)"
                    style="margin-right: 1vw"
                    >up</b-button
                  >
                  <b-button
                    pill
                    variant="danger"
                    :disabled="index === user.powersRanking.length - 1"
                    @click="bottomItem(index)"
                    >down</b-button
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-12">
        <table class="table" data-toggle="table">
          <thead class="table-success">
            <tr>
              <th>
                <b-icon
                  icon="star-fill"
                  animation="fade"
                  font-scale="1"
                ></b-icon
                >{{ $t("scores.bestScore", { bestScore: "Best score" }) }}
              </th>
              <th>
                <b-icon
                  icon="star-fill"
                  animation="fade"
                  font-scale="1"
                ></b-icon
                >{{
                  $t("scores.bestScoreVictories", {
                    bestScoreVictories: "Best score victories",
                  })
                }}
              </th>
              <th>
                <b-icon
                  icon="star-fill"
                  animation="fade"
                  font-scale="1"
                ></b-icon
                >{{ $t("scores.lastScore", { lastScore: "Last score" }) }}
              </th>
              <th>
                <b-icon
                  icon="star-fill"
                  animation="fade"
                  font-scale="1"
                ></b-icon
                >{{
                  $t("scores.highestVictoriesSerie", {
                    highestVictoriesSerie: "Highest victories serie",
                  })
                }}
              </th>
              <th>
                <b-icon
                  icon="star-fill"
                  animation="fade"
                  font-scale="1"
                ></b-icon
                >{{ $t("scores.gamesPlayed", { gamesPlayed: "Games played" }) }}
              </th>
            </tr>
          </thead>
          <tbody class="table-info">
            <tr v-bind:key="user.id">
              <td>{{ user.bestScore }}</td>
              <td>{{ user.bestScoreVictories }}</td>
              <td>{{ user.lastScore }}</td>
              <td>{{ user.highestVictoriesSerie }}</td>
              <td>{{ user.gamesPlayed }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <button class="btn btn-primary" type="submit">
        {{ $t("words.confirm", { confirm: "Confirm" }) }}
      </button>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";
import { powersRankingStore } from "@/js/store/powers-ranking-store";

export default {
  name: "Account",
  data: function () {
    return {
      user: {},
      componentKey: 0,
      dismissSecs: 2,
      dismissCountDown: 0,
      error: false,
    };
  },
  beforeCreate() {
    axios.defaults.headers.common["Content-Type"] =
      "application/x-www-form-urlencoded/json";
    try {
      axios
        .get("https://localhost:8000/account")
        .then((response) => (this.user = response.data))
        .then((data) => {
          powersRankingStore.commit("update", data.powersRanking);
        });
    } catch (e) {
      console.log(e);
      // handle authentication error here
    }
  },
  methods: {
    forceRerender() {
      this.componentKey += 1;
    },
    topItem: function (index) {
      [this.user.powersRanking[index], this.user.powersRanking[index - 1]] = [
        this.user.powersRanking[index - 1],
        this.user.powersRanking[index],
      ];
      [].slice.call(this.user.powersRanking).sort();
      this.forceRerender();
    },
    bottomItem: function (index) {
      [this.user.powersRanking[index], this.user.powersRanking[index + 1]] = [
        this.user.powersRanking[index + 1],
        this.user.powersRanking[index],
      ];
      [].slice.call(this.user.powersRanking).sort();
      this.forceRerender();
    },
    editAccount() {
      powersRankingStore.commit("update", this.user.powersRanking);

      axios.defaults.headers.common["Content-Type"] =
        "application/x-www-form-urlencoded/json";
      try {
        axios
          .post("https://localhost:8000/edit-account", this.user)
          .then((response) => response.data)
          .then((data) => {
            if (data[0] === "success") {
              this.showAlert();
            } else {
              this.error = true;
              this.showAlert();
            }
          });
      } catch (e) {
        console.log(e);
        // handle authentication error here
      }
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>

<style lang="scss">
.user-account {
  margin: auto;

  td {
    text-align: center;
  }
  .btn-primary {
    align-items: center;
  }
}

@media all and (orientation: landscape) and (max-device-width: 800px) {
  .user-account {
    font-size: small;

    .form-control {
      font-size: small;
    }
    .btn {
      font-size: small;
    }
  }
}
</style>
