<template>
  <div class="col-11 fighters-list">
    <h3>
      <small class="text-muted"
        >{{ $t("fightersList.title", { title: "Fighter's list" }) }}
        {{ this.totalFighters }}</small
      >
    </h3>
    <div class="offset">
      <span class="help is-info" v-if="isLoading"
        >{{ $t("words.loading", { loading: "Loading" }) }}...</span
      >
      <table class="table table-striped" v-else>
        <thead class="table-success">
          <tr>
            <th class="col-2 col-lg-2">
              <b-form-input
                id="filter-input"
                v-model="search"
                type="search"
                @change="onSearch"
                v-bind:placeholder="$t('fightersList.typeToSearch')"
                class="fa"
              ></b-form-input>
            </th>

            <th class="col-1 col-lg-1" @click="onOrder">
              <b-icon
                class="no-margin-right"
                icon="arrow-down-up"
                aria-hidden="true"
              ></b-icon
              >{{ $t("fightersList.name", { name: "Name" }) }}
            </th>
            <th class="col-1 col-lg-1">
              {{ $t("fightersList.gender", { gender: "Gender" }) }}
            </th>
            <th class="col-1 col-lg-1">
              {{ $t("fightersList.race", { race: "Race" }) }}
            </th>
            <th class="col-1 col-lg-1">
              {{ $t("fightersList.height", { height: "Height" }) }}
            </th>
            <th class="col-1 col-lg-1">
              {{ $t("fightersList.weight", { weight: "Weight" }) }}
            </th>
            <th class="col-1 col-lg-1">
              {{
                $t("fightersList.firstAppearance", {
                  firstAppearance: "First appearance",
                })
              }}
            </th>
            <th class="col-2 col-lg-2">
              {{ $t("fightersList.work", { work: "Work" }) }}
            </th>
            <th class="col-1 col-lg-1">
              {{
                $t("fightersList.groupAffiliation", {
                  groupAffiliation: "Group affiliation",
                })
              }}
            </th>
            <th>
              <b-icon
                icon="cloud-download"
                v-b-tooltip="'Export CSV'"
                class="export"
                aria-hidden="true"
                @click="onExport"
              ></b-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="fighter in fighters" v-bind:key="fighter.id">
            <td class="col-2 col-lg-2">
              <img :src="fighter.image" style="width: 100%" alt="" />
            </td>
            <td class="col-1 col-lg-1">
              {{ fighter.name }}<br />{{ fighter.alignment }}
            </td>
            <td class="col-1 col-lg-1">{{ fighter.gender }}</td>
            <td class="col-1 col-lg-1">{{ fighter.race }}</td>
            <td class="col-1 col-lg-1">
              {{ fighter.height[0] }} / {{ fighter.height[1] }}
            </td>
            <td class="col-1 col-lg-1">
              {{ fighter.weight[0] }} / {{ fighter.weight[1] }}
            </td>
            <td class="col-1 col-lg-1">{{ fighter.firstAppearance }}</td>
            <td class="col-2 col-lg-2">{{ fighter.work }}</td>
            <td class="col-2 col-lg-2">{{ fighter.groupAffiliation }}</td>
            <td class="col-1 col-lg-1"></td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Page navigation">
        <ul class="pagination pagination-lg col-3 col-sm-4">
          <li class="page-item">
            <button
              type="button"
              v-if="this.index > 0"
              class="page-link"
              @click="previousPage"
            >
              Previous
            </button>
          </li>
          <li class="page-item">
            <button
              type="button"
              v-if="this.totalFighters > 0"
              @click="nextPage"
              class="page-link"
            >
              Next
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Fighters",
  data: function () {
    return {
      fighters: {},
      isLoading: true,
      index: 0,
      pageSize: 20,
      totalFighters: 0,
      search: "",
      order: "ASC",
      typeToSearch:
        '{{ $t("fightersList.typeToSearch", { TypeToSearch: "Type to Search" }) }}',
    };
  },
  watch: {
    search(newVal, oldVal) {
      if (oldVal && !newVal) {
        this.getFighters();
      }
    },
  },
  created() {
    this.getFighters();
  },
  methods: {
    previousPage() {
      if (this.index > 0) {
        this.index = this.index - this.pageSize;
        this.totalFighters = this.totalFighters + this.pageSize;

        this.getFighters();
      }
    },
    nextPage() {
      this.index = this.index + this.pageSize;
      this.totalFighters = this.totalFighters - this.pageSize;
      console.log(this.totalFighters);

      this.getFighters();
    },
    onSearch() {
      if (this.search.length > 0) {
        this.getFighters();
      }
    },
    onOrder() {
      if ("ASC" === this.order) {
        this.order = "DESC";
      } else {
        this.order = "ASC";
      }

      this.getFighters();
    },
    getFighters() {
      axios.defaults.headers.common["Content-Type"] =
        "application/x-www-form-urlencoded/json";
      try {
        axios
          .get("https://127.0.0.1:8000/api/fighters/", {
            params: {
              pageIndex: this.index,
              pageSize: this.pageSize,
              search: this.search,
              order: this.order,
            },
          })
          .then((response) => response.data)
          .then((data) => {
            this.fighters = data["fighters"];

            if (typeof data["total_fighters"] !== "undefined") {
              this.totalFighters = data["total_fighters"] - this.pageSize;
            }
          });
        this.isLoading = false;
      } catch (e) {
        console.log(e);
        // handle authentication error here
      }
    },
    onExport() {
      axios.defaults.headers.common["Content-Type"] =
        "application/x-www-form-urlencoded/json";
      try {
        axios.get("https://127.0.0.1:8000/fighters/export").then((response) => {
          var fileURL = window.URL.createObjectURL(new Blob([response.data]));
          var fileLink = document.createElement("a");

          fileLink.href = fileURL;
          fileLink.setAttribute("download", "fighters.csv");
          document.body.appendChild(fileLink);

          fileLink.click();
        });
      } catch (e) {
        console.log(e);
        // handle authentication error here
      }
    },
  },
};
</script>

<style lang="scss">
.fighters-list {
  margin: auto;

  .pagination {
    margin-inline: auto;
    justify-content: space-between;
  }
  .page-item {
    list-style-type: none;
  }
}

@media all and (orientation: landscape) and (max-device-width: 800px) {
  .fighters-list {
    .table {
      font-size: 2.5vh;
      .export {
        font-size: large;
      }
    }
    img {
      width: 10vw !important;
    }
    .page-link {
      font-size: small !important;
    }
  }
  #filter-input {
    font-size: 2.5vh;
  }
}
</style>
