<template>
    <div class="col-7 col-lg-7 col-sm-11 home">
        <h1>
            {{ $t("home.welcome", { welcome: "Welcome on Flip Fighters !", }) }}
            </h1>
        <p>
            {{ $t("home.first", { first: "My name is Jocelyn. I developed this project to show what I'm able to do.", }) }}
            <br/><br/>
            {{ $t("home.second", { second: "The back part is an API Symfony project accessible on ", }) }}<a href="https://gitlab.com/Jay-Delachance/flip-fighters-server">Gitlab</a>.
            {{ $t("home.third", { third: "The front part is a Vue.js project accessible on ", }) }}<a href="https://gitlab.com/Jay-Delachance/flip-fighters-client">Gitlab</a>.
            <br/><br/>

            {{ $t("home.fourth", { fourth: "The data is provided from the following API : ", }) }}<a href="https://www.superheroapi.com">https://www.superheroapi.com</a>
            <br/><br/>

            {{ $t("home.fifth", { fifth: "I worked with :", }) }}
            <ul>
                <li>{{ $t("home.sixth", { sixth: "One MySQL database, one MongoDB datatase (to save the fight results) and Doctrine", }) }}</li>
                <li>Symfony Messenger {{ $t("words.and", { and: "and", }) }} RabbitMQ</li>
                <li>Mailjet</li>
            </ul>

        </p>
        <h4 class="align-content-center">{{ $t("home.seventh", { seventh: "Feel free to reach me on ", }) }}<a href="https://www.linkedin.com/in/jocelynjoubert/"><b-icon icon="linkedin" aria-hidden="true"></b-icon></a></h4>

    </div>
</template>

<script>
export default {
    name: 'Home',
}
</script>

<style lang="scss">
.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 auto;

    h1 {
        font-family: 'Special Elite', cursive;
        margin-bottom: 1em !important;
        margin-top: 1em !important;
    }
    p {
        font-family: 'Lato', sans-serif;
    }
    ul > li {
        font-family: 'Lato', sans-serif;
        list-style-type: circle;
    }
}

@media all and (orientation:landscape) and  (max-device-width: 800px) {
    .home {
        font-size: small;

        h1 {
            font-size: x-large;
        }
        li {
            font-size: small;
        }
        p {
            margin-bottom: 0 !important;
        }
        h4 {
            font-size: medium;
        }
    }
}
</style>