<template>
  <div class="login col-4 col-lg-4 col-sm-6">
    <h3>
      <small class="text-muted">{{
        $t("login.pleaseSignIn", { pleaseSignIn: "Please sign in" })
      }}</small>
    </h3>
    <b-form method="post" v-on:submit.prevent="sendLogin">
      <b-row class="form-group row login-form-group mt-3">
        <b-col sm="2" class="col-form-label">
          <label for="loginInputEmail">Email</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            type="email"
            id="loginInputEmail"
            v-bind:placeholder="$t('registerLogin.enterEmail')"
            v-model="email"
            required
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validationEmail">
            {{
              $t("registerLogin.emailConstraint", {
                emailConstraint: "Votre adresse email n'est pas valide.",
              })
            }}
          </b-form-invalid-feedback>
          <b-form-valid-feedback :state="validationEmail">
            {{ $t("registerLogin.looksGood", { looksGood: "Looks good." }) }}
          </b-form-valid-feedback>
        </b-col>
      </b-row>

      <b-row class="form-group row login-form-group mt-2">
        <b-col sm="2" class="col-form-label">
          <label for="loginInputPassword">{{
            $t("registerLogin.password", { password: "Password" })
          }}</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            type="password"
            id="loginInputPassword"
            v-bind:placeholder="$t('registerLogin.enterPassword')"
            v-model="password"
            required
          ></b-form-input>
          <b-form-invalid-feedback :state="validationPassword">
            {{
              $t("registerLogin.passwordConstraint", {
                passwordConstraint:
                  "Your password must be 5-12 characters long.",
              })
            }}
          </b-form-invalid-feedback>
          <b-form-valid-feedback :state="validationPassword">
            {{ $t("registerLogin.looksGood", { looksGood: "Looks good." }) }}
          </b-form-valid-feedback>
        </b-col>
      </b-row>

      <b-button type="submit" variant="primary" class="mt-3">{{
        $t("login.signIn", { signIn: "Sign in" })
      }}</b-button>
    </b-form>
  </div>
</template>

<script>
import { authenticationStore } from "@/js/store/authentication-store";

export default {
  props: ["last_email", "authenticated"],
  name: "Login",
  data: function () {
    return {
      email: "",
      password: "",
      isError: false,
      errorMessage: "",
    };
  },
  created() {
    if (this.$props.last_email !== undefined) {
      this.email = this.$props.last_email;
    }
  },
  computed: {
    validationEmail() {
      return !!this.email.match("^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$");
    },
    validationPassword() {
      return this.password.length > 4 && this.password.length < 13;
    },
  },
  methods: {
    sendLogin(e) {
      console.log("Login");
      e.preventDefault();
      fetch("/api/login", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Credentials": "true",
        },
        body: JSON.stringify({
          email: this.email,
          password: this.password,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data === "authenticated") {
            authenticationStore.commit("login");
            this.$root.$emit("login");
            this.$router.push("/account");
            this.$router.push("/fighters");
          } else {
            this.isError = true;
            this.errorMessage = data;
          }
        });
    },
  },
};
</script>

<style lang="scss">
.login {
  margin: auto;

  td {
    text-align: center;
  }
}

@media all and (orientation: landscape) and (max-device-width: 800px) {
  .login {
    font-size: small;

    .form-control {
      font-size: small;
    }
    .btn {
      font-size: small;
    }
  }
}
</style>
