<template>
  <keep-alive>
    <b-overlay :show="show">
      <div class="container play-container">
        <div
          :disabled="show"
          class="card-wrapper col-3 col-lg-3 col-sm-3"
          v-for="fighter in fighters"
          v-bind:key="fighter.id"
          v-on:click="chooseWinner(fighter)"
        >
          <div class="fighter-name">
            <h3>{{ fighter.name }}</h3>
          </div>
          <div class="card">
            <div class="card-image">
              <img :src="fighter.image" alt="" />
            </div>
            <div class="details">
              <p class="alignment" v-if="fighter.alignment">
                {{ fighter.alignment }}
              </p>
            </div>
          </div>
        </div>
        <!-- end box wrapper -->
      </div>
      <!-- END container -->

      <template>
        <footer>
          <RulesModal />
        </footer>
      </template>
      <template>
        <h3>{{ $t("play.lives", { lives: "Lies" }) }} : {{ lives }}</h3>
      </template>
      <template>
        <h3>Score : {{ score }}</h3>
      </template>
      <template>
        <FightToast />
      </template>
      <template>
        <GameOverModal />
      </template>

      <template>
        <div class="col-sm-8 power-stats" v-show="show">
          <table class="table" id="scores" data-toggle="table">
            <thead class="table-success">
              <tr>
                <th>Fighter</th>
                <th>{{ powersRanking[0] }}</th>
                <th>{{ powersRanking[1] }}</th>
                <th>{{ powersRanking[2] }}</th>
                <th>{{ powersRanking[3] }}</th>
                <th>{{ powersRanking[4] }}</th>
                <th>{{ powersRanking[5] }}</th>
              </tr>
            </thead>
            <tbody
              class="table-info"
              v-for="fighter in fighters"
              v-bind:key="fighter.id"
            >
              <tr>
                <td class="fw-bold">{{ fighter.name }}</td>
                <td class="justify-content-center">
                  {{ fighter.powerStats[powersRanking[0]] }}
                </td>
                <td>{{ fighter.powerStats[powersRanking[1]] }}</td>
                <td>{{ fighter.powerStats[powersRanking[2]] }}</td>
                <td>{{ fighter.powerStats[powersRanking[3]] }}</td>
                <td>{{ fighter.powerStats[powersRanking[4]] }}</td>
                <td>{{ fighter.powerStats[powersRanking[5]] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </template>
    </b-overlay>
  </keep-alive>
</template>

<script>
import axios from "axios";
import FightToast from "@/components/FightToast";
import RulesModal from "@/components/RulesModal";
import GameOverModal from "@/components/GameOverModal";
import { powersRankingStore } from "@/js/store/powers-ranking-store";

export default {
  components: {
    FightToast,
    RulesModal,
    GameOverModal,
  },
  name: "Play",
  data: function () {
    return {
      fighters: {},
      lives: 3,
      score: 0,
      victories: 0,
      bonus: 0,
      show: false,
      powersRanking: powersRankingStore.getters.getPowersRanking,
    };
  },
  beforeCreate() {
    axios.defaults.headers.common["Content-Type"] =
      "application/x-www-form-urlencoded/json";
    try {
      axios
        .get("https://localhost:8000/play")
        .then((response) => (this.fighters = response.data));
    } catch (e) {
      console.log(e);
      // handle authentication error here
    }
  },
  methods: {
    chooseWinner(fighter) {
      const winnerChoiceId = fighter.id;
      const firstFighterId = this.fighters[0].id;
      const secondFighterId = this.fighters[1].id;

      fetch("/choose-winner", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
          "Access-Control-Allow-Credentials": "true",
        },
        body: JSON.stringify({
          winner_choice: winnerChoiceId,
          good_fighter_id: firstFighterId,
          evil_fighter_id: secondFighterId,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data);
          this.$root.$emit("winner_event", data["fight_result"]);
          this.score = this.score + data["fight_score"];
          this.show = true;
          if (data["fight_result"] === "win") {
            this.victories = this.victories + 1;
            this.setBonus();
            setTimeout(() => {
              this.getFight();
              this.show = false;
            }, 4000);
          }
          if (data["fight_result"] === "lose" && this.lives > 0) {
            this.lives += -1;
            this.$root.$emit("lives_event", this.lives);

            if (this.lives === 0) {
              this.$bvModal.show("game-over");
              this.gamesPlayed = 1;
              this.saveScore();
            } else {
              setTimeout(() => {
                this.getFight();
                this.show = false;
              }, 4000);
            }
          }
          if (data["fight_result"] === "draw") {
            setTimeout(() => {
              this.getFight();
              this.show = false;
            }, 4000);
          }
        });
    },
    getFight() {
      axios.defaults.headers.common["Content-Type"] =
        "application/x-www-form-urlencoded/json";
      try {
        axios
          .get("https://localhost:8000/play")
          .then((response) => (this.fighters = response.data));
      } catch (e) {
        console.log(e);
      }
    },
    saveScore() {
      axios.defaults.headers.common["Content-Type"] =
        "application/x-www-form-urlencoded/json";
      try {
        axios.post(
          "https://localhost:8000/save-score",
          JSON.stringify({
            score: this.score,
            victories: this.victories,
          })
        );
      } catch (e) {
        console.log(e);
      }
    },
    setBonus() {
      const victories = this.victories;
      const bonus = this.bonus;
      if (victories === 5 && bonus === 0) {
        this.score = this.score + 50;
      } else if (victories === 10 && bonus === 1) {
        this.score = this.score + 200;
      } else if (victories === 15 && bonus === 2) {
        this.score = this.score + 500;
      } else if (victories === 20 && bonus === 3) {
        this.score = this.score + 1000;
      }
    },
  },
};
</script>

<style lang="scss">
/**** Sass Variables ****/
$bodyFont: "Special Elite", cursive;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $bodyFont;
  background: #333;
}

.b-overlay {
  height: 60vh;
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.card-wrapper {
  height: 45vh;
  position: relative;
}

h3 {
  text-align: center;
  font-family: $bodyFont;
  font-weight: bold;
}

.play-container {
  max-height: 42vh;
}

.fighter-name {
  position: relative;
  top: 1vh;
  min-width: 100%;
  padding-top: 1vh;
  border-radius: 2px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  margin-bottom: 5vh;
  white-space: nowrap;
}

.card {
  position: relative;
  top: 50%;
  left: 50%;
  max-height: 50vh;
  transform: translate(-50%, -50%);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.5s;

  .card-image {
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100%; // white part under image part
    z-index: 2;
    background-color: #000;
    transition: 0.5s;

    img {
      width: 100%;
    }
  }
  &:hover img {
    opacity: 0.4;
    transition: 0.5s;
  }
  &:hover {
    height: 50vh;
    max-height: content-box;
  }
}

.card:hover .card-image {
  transform: translateY(-100px);
  transition: all 0.9s;
}

/**** Personal Details ****/

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #fff;
  width: 100%;
  z-index: 1;

  p {
    text-align: center;
    font-size: xxx-large;
  }
}

.toast {
  opacity: 1 !important;
}

/**** Power stats ****/

.power-stats {
  margin-inline: auto;
  margin-top: 6vh;
  margin-bottom: 1vh;
  border-radius: 2px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);

  tr :not(:first-child) {
    text-align: center;
  }
}

@media all and (orientation: landscape) and (max-device-width: 800px) {
  .play-container {
    width: 100% !important;
    max-height: 30vh;

    :nth-child(1) {
      margin-right: 30vw;
    }
    .nav {
      margin-bottom: 0 !important;
    }
    .fighter-name {
      box-shadow: none;
      margin-bottom: 1vh !important;
    }
    .details {
      display: none;
    }
  }

  .b-overlay {
    height: 56vh;
  }

  h3 {
    font-size: medium !important;
  }

  .power-stats {
    margin-top: 4vh;

    .table {
      font-size: 3vh;
    }
  }
}
</style>
