<template>
  <div class="register col-4 col-lg-4 col-sm-6">
    <h3>
      <small class="text-muted">{{
        $t("register.createAccount", {
          createAccount: "Please create your account",
        })
      }}</small>
    </h3>
    <b-alert
      v-if="error"
      :show="dismissCountDown"
      variant="danger"
      @dismissed="dismissCountDown = 0"
    >
      <p>
        There was an error. Your account was not created. We apologize. Please
        try again.
      </p>
    </b-alert>
    <b-alert
      v-else
      :show="dismissCountDown"
      variant="success"
      @dismissed="dismissCountDown = 0"
    >
      <p>
        Registration completed. Please check your emails to confirm it. Then
        you'll be able to
        <router-link :to="{ path: '/login' }">sign in.</router-link>
      </p>
    </b-alert>

    <b-form
      autocomplete="off"
      method="post"
      v-on:submit.prevent="register"
      v-if="!success"
    >
      <b-row class="form-group row login-form-group mt-3">
        <b-col sm="2" class="col-form-label">
          <label for="registerInputPseudo">Pseudo</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            id="registerInputPseudo"
            :state="validationPseudo"
            v-bind:placeholder="$t('register.enterPseudo')"
            v-model="pseudo"
            required
            autofocus
          ></b-form-input>
          <b-form-invalid-feedback :state="validationPseudo">
            {{
              $t("register.pseudoConstraint", {
                pseudoConstraint: "Your pseudo must be 5-12 characters long.",
              })
            }}
          </b-form-invalid-feedback>
          <b-form-valid-feedback :state="validationPseudo">
            {{ $t("registerLogin.looksGood", { looksGood: "Looks good." }) }}
          </b-form-valid-feedback>
        </b-col>
      </b-row>

      <b-row class="form-group row login-form-group mt-3">
        <b-col sm="2" class="col-form-label">
          <label for="registerInputEmail">Email</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            id="registerInputEmail"
            :state="validationEmail"
            v-bind:placeholder="$t('registerLogin.enterEmail')"
            v-model="email"
            required
          ></b-form-input>
          <b-form-invalid-feedback :state="validationEmail">
            {{
              $t("registerLogin.emailConstraint", {
                emailConstraint: "Votre adresse email n'est pas valide.",
              })
            }}
          </b-form-invalid-feedback>
          <b-form-valid-feedback :state="validationEmail">
            {{ $t("registerLogin.looksGood", { looksGood: "Looks good." }) }}
          </b-form-valid-feedback>
        </b-col>
      </b-row>

      <b-row class="form-group row login-form-group mt-3">
        <b-col sm="2" class="col-form-label">
          <label for="registerInputPassword">{{
            $t("registerLogin.password", { password: "Password" })
          }}</label>
        </b-col>
        <b-col sm="10">
          <b-form-input
            id="registerInputPassword"
            type="password"
            :state="validationPassword"
            v-bind:placeholder="$t('registerLogin.enterPassword')"
            v-model="password"
            required
          ></b-form-input>
          <b-form-invalid-feedback :state="validationPassword">
            {{
              $t("registerLogin.passwordConstraint", {
                passwordConstraint:
                  "Your password must be 5-12 characters long.",
              })
            }}
          </b-form-invalid-feedback>
          <b-form-valid-feedback :state="validationPassword">
            {{ $t("registerLogin.looksGood", { looksGood: "Looks good." }) }}
          </b-form-valid-feedback>
        </b-col>
      </b-row>

      <b-button type="submit" variant="primary" class="mt-3">{{
        $t("words.confirm", { confirm: "Confirm" })
      }}</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  props: ["last_email"],
  name: "Register",
  data: function () {
    return {
      pseudo: "",
      email: "",
      password: "",
      errors: {},
      success: false,
      dismissSecs: 2,
      dismissCountDown: 0,
      error: false,
    };
  },
  computed: {
    validationPseudo() {
      return this.pseudo.length > 4 && this.pseudo.length < 13;
    },
    validationEmail() {
      return !!this.email.match("^[\\w-\\.]+@([\\w-]+\\.)+[\\w-]{2,4}$");
    },
    validationPassword() {
      return this.password.length > 4 && this.password.length < 13;
    },
  },
  methods: {
    register() {
      console.log("create account form");

      fetch("/api/new-account", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
          pseudo: this.pseudo,
          email: this.email,
          password: this.password,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data[0] === "success") {
            console.log(data.errors);
            this.success = true;
            this.showAlert();
          } else {
            console.log(data.errors);
            this.error = true;
            this.errors = data[0];
            this.showAlert();
          }
        })
        .then(
          setTimeout(() => {
            this.$router.push("/");
          }, 3000)
        );
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
};
</script>

<style lang="scss">
.register {
  margin: auto;

  td {
    text-align: center;
  }
}
@media all and (orientation: landscape) and (max-device-width: 800px) {
  .register {
    font-size: small;

    .form-control {
      font-size: small;
    }
    .btn {
      font-size: small;
    }
  }
}
</style>
