<template>
  <div class="col-7 col-lg-7 col-sm-11 user-scores">
    <h3>
      <small class="text-muted">{{
        $t("scores.scoresBoard", { scoresBoard: "Scores board" })
      }}</small>
    </h3>
    <div class="offset">
      <span class="help is-info" v-if="isLoading">Loading...</span>
      <table class="table table-striped" data-toggle="table" v-else>
        <thead class="table-success">
          <tr>
            <th>Pseudo</th>
            <th>{{ $t("scores.bestScore", { bestScore: "Best score" }) }}</th>
            <th>
              {{
                $t("scores.bestScoreVictories", {
                  bestScoreVictories: "Best score victories",
                })
              }}
            </th>
            <th>{{ $t("scores.lastScore", { lastScore: "Last score" }) }}</th>
            <th>
              {{
                $t("scores.highestVictoriesSerie", {
                  highestVictoriesSerie: "Highest victories serie",
                })
              }}
            </th>
            <th>
              {{ $t("scores.gamesPlayed", { gamesPlayed: "Games played" }) }}
            </th>
            <th>
              <b-icon
                icon="cloud-download"
                v-b-tooltip="'Export CSV'"
                class="export"
                aria-hidden="true"
                @click="onExport"
              ></b-icon>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="user in users"
            v-bind:key="user.id"
            v-if="user.bestScore !== null"
          >
            <td>{{ user.pseudo }}</td>
            <td>{{ user.bestScore }}</td>
            <td>{{ user.bestScoreVictories }}</td>
            <td>{{ user.lastScore }}</td>
            <td>{{ user.highestVictoriesSerie }}</td>
            <td>{{ user.gamesPlayed }}</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "UsersScores",
  data: function () {
    return {
      users: {},
      isLoading: true,
    };
  },
  created() {
    axios.defaults.headers.common["Content-Type"] =
      "application/x-www-form-urlencoded/json";
    try {
      axios
        .get("https://localhost:8000/api/users-scores")
        .then((response) => (this.users = response.data));
      this.isLoading = false;
    } catch (e) {
      console.log(e);
      // handle authentication error here
    }
  },
  methods: {
    onExport() {
      axios.defaults.headers.common["Content-Type"] =
        "application/x-www-form-urlencoded/json";
      try {
        axios
          .get("https://127.0.0.1:8000/api/users-scores/export")
          .then((response) => {
            var fileURL = window.URL.createObjectURL(new Blob([response.data]));
            var fileLink = document.createElement("a");

            fileLink.href = fileURL;
            fileLink.setAttribute("download", "users-scores.csv");
            document.body.appendChild(fileLink);

            fileLink.click();
          });
      } catch (e) {
        console.log(e);
        // handle authentication error here
      }
    },
  },
};
</script>

<style lang="scss">
.user-scores {
  margin: auto;

  .table {
    tr :not(:first-child) {
      text-align: center;
    }
  }
}
@media all and (orientation: landscape) and (max-device-width: 800px) {
  .user-scores {
    .table {
      font-size: small;
    }
  }
}
</style>
