<script>
export default {
  name: "FightToast",
  data: function () {
    return {
      result: "",
    };
  },
  mounted() {
    this.$root.$on("winner_event", function (result) {
      this.result = result;

      if ("win" === this.result) {
        const h = this.$createElement;
        const vNodesMsg = h("div", { class: ["foobar", "overlay"] }, [
          h(
            "strong",
            { class: ["mr-2", "text-center", "toast-text"] },
            "You win !"
          ),
        ]);

        this.$bvToast.toast([vNodesMsg], {
          toaster: "b-toaster-top-center",
          variant: "success",
          solid: true,
          autoHideDelay: 4000,
          noCloseButton: true,
        });
      }

      this.$root.$on("lives_event", function (lives) {
        if ("lose" === this.result && lives > 0) {
          const h = this.$createElement;
          const vNodesMsg = h("div", { class: ["foobar", "overlay"] }, [
            h(
              "strong",
              { class: ["mr-2", "text-center", "toast-text"] },
              "You lose !"
            ),
          ]);

          this.$bvToast.toast([vNodesMsg], {
            toaster: "b-toaster-top-center",
            variant: "danger",
            solid: true,
            autoHideDelay: 4000,
            noCloseButton: true,
            appendToast: false,
          });
        }
      });

      if ("draw" === this.result) {
        const h = this.$createElement;
        // Create the message
        const vNodesMsg = h("div", { class: ["foobar", "overlay"] }, [
          h(
            "strong",
            { class: ["mr-2", "text-center", "toast-text"] },
            "Draw !"
          ),
        ]);

        this.$bvToast.toast([vNodesMsg], {
          toaster: "b-toaster-top-center",
          variant: "warning",
          solid: true,
          autoHideDelay: 4000,
          noCloseButton: true,
        });
      }
    });
  },
};
</script>

<style lang="scss">
.b-toaster-slot :not(:first-child) {
  display: none;
}

.toast-text {
  font-family: "Press Start 2P", cursive;
  font-size: xxx-large;
}

.toast {
  width: max-content !important;
}

.b-toast,
.b-toaster-slot {
  max-width: none !important;
}

.b-toaster-slot {
  display: flex !important;
  justify-content: center;
}

@media all and (orientation: landscape) and (max-device-width: 800px) {
  .toast-text {
    font-size: x-large !important;
  }
}
</style>
