<template>
  <b-modal
    id="game-over"
    centered
    hide-header-close="true"
    header-bg-variant="dark"
    header-text-variant="light"
  >
    <template>
      <div class="w-100">
        <h2>Game Over</h2>
      </div>
    </template>

    <template>
      <p class="my-2 text-center align-items-center fw-bold">
        {{ $t("play.again", { again: "Play again ?" }) }}
      </p>
    </template>

    <template #modal-footer="{ hide }">
      <b-button
        size="m"
        @click="hide()"
        href="http://localhost:8080/users-scores"
        >{{ $t("play.no", { no: "NO" }) }}</b-button
      >
      <b-button
        variant="success"
        size="m"
        @click="hide()"
        href="http://localhost:8080/play"
        >{{ $t("play.yes", { yes: "YES" }) }}</b-button
      >
    </template>
  </b-modal>
</template>

<script>
export default {
  name: "GameOverModal",
  data: function () {
    return {
      finalScore: 0,
    };
  },
};
</script>

<style lang="scss">
#game-over {
  h2 {
    text-align: center;
    font-family: "Press Start 2P", cursive;
  }
  p {
    font-family: "Special Elite", cursive;
    font-size: xx-large;
  }
  .modal-footer {
    display: flex;
    justify-content: space-between !important;
    margin: auto;
    font-family: "Special Elite", cursive;
    font-size: xx-large;
  }
}
@media all and (orientation: landscape) and (max-device-width: 800px) {
  #game-over {
    h2 {
      font-size: large;
    }
    p {
      font-size: large;
    }
    .btn {
      font-size: small !important;
    }
  }
}
</style>
