<template>
  <div class="section col-12">
    <div class="container flip-menu">
      <b-nav pills v-if="mutableAuthenticated">
        <b-nav-item active v-on:click="home"
          ><b-icon
            class="no-margin-right"
            icon="house"
            aria-hidden="true"
          ></b-icon
        ></b-nav-item>
        <b-nav-item active v-on:click="fighters"
          ><b-icon icon="person-bounding-box" aria-hidden="true"></b-icon
          >{{ $t("menu.fighters", { fighters: "Fighters" }) }}</b-nav-item
        >
        <b-nav-item active v-on:click="play"
          ><b-icon icon="display" aria-hidden="true"></b-icon
          >{{ $t("menu.play", { play: "Play" }) }}</b-nav-item
        >
        <b-nav-item active v-on:click="userScores"
          ><b-icon icon="bar-chart-fill" aria-hidden="true"></b-icon
          >{{ $t("menu.scores", { scores: "Scores" }) }}</b-nav-item
        >
        <b-nav-item active v-on:click="account"
          ><b-icon icon="gear-fill" aria-hidden="true"></b-icon
          >{{ $t("menu.account", { account: "Account" }) }}</b-nav-item
        >
        <b-nav-item active v-on:click="logout"
          ><b-icon
            class="no-margin-right"
            icon="power"
            aria-hidden="true"
          ></b-icon
        ></b-nav-item>
        <SwitchLanguage />
      </b-nav>
      <b-nav pills v-else>
        <b-nav-item active v-on:click="home"
          ><b-icon
            class="no-margin-right"
            icon="house"
            aria-hidden="true"
          ></b-icon
        ></b-nav-item>
        <b-nav-item active v-on:click="login"
          ><b-icon icon="arrows-fullscreen" aria-hidden="true"></b-icon
          >{{ $t("menu.login", { login: "Login" }) }}</b-nav-item
        >
        <b-nav-item active v-on:click="register"
          ><b-icon icon="file-earmark" aria-hidden="true"></b-icon
          >{{ $t("menu.register", { register: "Register" }) }}</b-nav-item
        >
        <SwitchLanguage />
      </b-nav>
    </div>
    <div class="panel-body">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { authenticationStore } from "@/js/store/authentication-store";
import SwitchLanguage from "@/components/SwitchLanguage.vue";

export default {
  name: "Menu",
  components: {
    SwitchLanguage,
  },
  data: function () {
    return {
      mutableAuthenticated: false,
    };
  },
  beforeMount() {
    this.mutableAuthenticated = authenticationStore.getters.isAuthenticated;

    this.$root.$on("login", () => {
      this.mutableAuthenticated = true;
    });
  },
  methods: {
    home() {
      this.$router.push({ path: "/" });
    },
    register() {
      this.$router.push({ path: "/register" });
    },
    login() {
      this.$router.push({ path: "/login" });
    },
    logout() {
      authenticationStore.commit("logout");
      this.mutableAuthenticated = authenticationStore.getters.isAuthenticated;
      this.$router.push({ path: "/" }).catch(() => {});
    },
    account() {
      this.$router.push({ path: "/account" });
    },
    userScores() {
      this.$router.push({ path: "/users-scores" });
    },
    play() {
      this.$router.push({ path: "/play" });
    },
    fighters() {
      this.$router.push({ path: "/fighters" });
    },
  },
};
</script>

<style lang="scss">
.flip-menu {
  .nav {
    margin-top: 2vh;
    margin-bottom: 1.5vh !important;

    :not(:last-child) {
      margin-right: 0.5em;
    }
  }
  .btn-primary {
    font-weight: bold;
    border: none;
    background-color: #0d6efd;
  }
  .nav-item {
    list-style-type: none;
    font-weight: bold;
  }
  .no-margin-right {
    margin-right: 0 !important;
  }
}

@media only screen and (orientation: landscape) and (max-device-width: 800px) {
  .flip-menu {
    min-width: 640px !important;

    .nav-item {
      font-size: small;
    }
  }
}
</style>
