<template>
    <div class="w-100 rules-modal">
        <b-button v-b-modal.modal-scrollable variant="warning" class="fw-bold">
            <b-icon icon="question-circle-fill" aria-hidden="true"></b-icon>
            {{ $t("rules.title", { title: "Game rules" }) }}
        </b-button>

        <b-modal id="modal-scrollable" scrollable hide-header-close="true" header-bg-variant="dark" header-text-variant="light">
            <template>
                <div class="w-100">
                    <h5>{{ $t("rules.title", { title: "Game rules" }) }}</h5>
                </div>
            </template>

            <p class="my-4 p-rules">
                {{ $t("rules.first", { first: "This is a fight game between one good and one evil fighter." }) }}
                <br/><br/>
                {{ $t("rules.second", { second: "The winner is the most powerful one. We balance fighter's total power regarding the powers ranking you set in your account." }) }}
                <br/><br/>
                {{ $t("rules.third", { third: "If you did not set your powers ranking, you can do it in your account page." }) }}
                <br/><br/>
                {{ $t("rules.fourth", { fourth: "Then, pick the fighter you think would win the fight." }) }}
                <br/><br/>
                {{ $t("rules.fifth", { fifth: "Less the powers total difference between the figters is high, the more you win points." }) }}
                <br/><br/>
                {{ $t("rules.sixth", { sixth: "There are also bonus points :" }) }}
                <ul>
                    <li>50 {{ $t("rules.seventh", { seventh: "points more if you find" }) }} 5 {{ $t("rules.eighth", { eighth: "winners" }) }}</li>
                    <li>200 {{ $t("rules.seventh", { seventh: "points more if you find" }) }} 10 {{ $t("rules.eighth", { eighth: "winners" }) }}</li>
                    <li>500 {{ $t("rules.seventh", { seventh: "points more if you find" }) }} 15 {{ $t("rules.eighth", { eighth: "winners" }) }}</li>
                    <li>1000 {{ $t("rules.seventh", { seventh: "points more if you find" }) }} 20 {{ $t("rules.eighth", { eighth: "winners" }) }}</li>
                </ul>

                {{ $t("rules.ninth", { ninth: "Power stats data is provided by an external source. Then, please don't bash me if Chuck Norris kills everyone ! 😆" }) }} Have fun !

            </p>

            <template #modal-footer="{ hide }">
                <div class="w-100">
                    <b-button
                        variant="primary"
                        size="m"
                        @click="hide()"
                    >
                        {{ $t("rules.tenth", { tenth: "Close" }) }}
                    </b-button>
                </div>
            </template>

        </b-modal>

    </div>
</template>

<script>
export default {
    name: "RulesModal",
    data: function () {
        return {
        }
    },
    mounted: function () {
    },
}
</script>

<style lang="scss">
#modal-scrollable {
    h5 {
        text-align: center;
        font-family: 'Press Start 2P', cursive;
    }
    .p-rules {
        text-align: justify;
        font-family: 'Lato', sans-serif;
        font-size: medium;
    }
    li {
        font-family: 'Lato', sans-serif;
        font-size: medium;
        list-style-type: circle;
    }
    .btn-primary {
        font-family: 'Lato', sans-serif;
    }

}

.rules-modal {
    .btn-warning {
        font-family: 'Lato', sans-serif;
        margin-bottom: 2.5vh;
    }
}

@media all and (orientation:landscape) and  (max-device-width: 800px) {
    #modal-scrollable {
        h5 {
            font-size: large !important;
        }
        .btn-primary {
            font-size: small !important;
        }
        .p-rules {
            font-size: small ;
        }
        li {
            font-size: small;
        }
    }

    .rules-modal {
        .btn-warning {
            font-size: small !important;
        }
    }
}
</style>