<template>
  <b-img
    v-model="$i18n.locale"
    v-on:click="changeLang"
    v-bind:src="source"
    height="40px"
    width="70px"
  ></b-img>
</template>

<script>
export default {
  name: "SwitchLocale",
  data() {
    return {
      source: "english.png",
    };
  },
  methods: {
    changeLang() {
      if ("en" === this.$i18n.locale) {
        this.source = "french.png";
        this.$i18n.locale = "fr";
      } else {
        this.source = "english.png";
        this.$i18n.locale = "en";
      }
    },
  },
};
</script>

<style>
select {
  width: 150px;
  line-height: 49px;
  height: 38px;
  font-size: 22px;
  outline: 0;
  margin-bottom: 15px;
}
</style>
