<template>
  <div id="app">
    <Menu />
  </div>
</template>

<script>
import Menu from "@/components/Menu";

export default {
  name: "App",
  components: {
    Menu,
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Press+Start+2P&family=Press+Start+2P&family=Special+Elite&display=swap");
.form-group {
  font-family: "Lato", sans-serif;
}

.alert {
  font-family: "Lato", sans-serif;
}

.b-icon {
  margin-right: 0.5em;
}

.table {
  margin-inline: auto;
  margin-top: 1.5vh;
  margin-bottom: 1.5vh;
  border-radius: 3px;
  box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
  font-family: "Lato", sans-serif;
  .export {
    font-size: x-large;
  }
}

.w-100 {
  display: flex;
  justify-content: center;
}

@media only screen and (orientation: portrait) and (max-device-width: 800px) {
  body {
    height: 100vh;
    width: 100%;
    transform: rotate(90deg);
  }
}
</style>
